:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --primary-color: #1d1d20;
  --secondary-color: #bcbcbc;
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  line-height: 1.5;
  margin: 30px 60px;
}
header {
  margin: 0, 0, 30px;
}
main {
  margin-top: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
}

img {
  width: 50px;
  border-radius: 30px;
}

nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav li {
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
}

li {
  list-style: none;
  color: var(--secondary-color);
}
a {
  color: var(--secondary-color);
}

p {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  opacity: 0.8;
}
